.parallax-window {
    min-height: 400px;
    background: transparent;
}
.parallax-full {
    min-height: 100vh;
    background: transparent;
}
.transparent-img{
    opacity: 0.15;
    filter: alpha(opacity=15); /* For IE8 and earlier */
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
.t-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
}
@media only screen and (min-width: 992px) {
    .t-img-text {
        font-size: 18px;
    }
}