{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
    <div class="bg-dark pb-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">ProfileBook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pb_nav" aria-controls="pb_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="pb_nav">
            <ul class="navbar-nav mr-auto">
            </ul>
            {% if app.user %}
                <div class="dropdown show">
                    <a class="text-light text-lowercase nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item text-lowercase" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </div>
            {% endif %}
        </div>
        </div>
    </nav>
        <h1 class="text-light text-center py-5">My Portfolio</h1>
    <div class="container p-0 bg-light">
        <div class="row d-flex align-items-center p-5">
            <div class="col-2">
                <div class="picture-container">
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                     alt="portfolio-picture" class="img-fluid">
                </div>
            </div>
            <div class="col">
                <h1 class="text-capitalize">Brian David Tabuada</h1>
                <h3 class="text-info text-capitalize">Software Engineer</h3>
            </div>
            <div class="col-3 text-right text-dark font-weight-bold">
                <p>skycatalysm@gmail.com <i class="fas fa-envelope text-info"></i></p>
                <p>skycatalysm@gmail.com <i class="fas fa-envelope text-info"></i></p>
                <p>skycatalysm@gmail.com <i class="fas fa-envelope text-info"></i></p>
                <p>skycatalysm@gmail.com <i class="fas fa-envelope text-info"></i></p>
            </div>
            <div class="col-12 text-dark">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dignissimos eum excepturi facilis id illo iste labore minus molestiae molestias nostrum odit officia pariatur quae, sequi tempora ullam vel voluptatum.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="font-weight-bold px-5 border-bottom border-info">
                    Work Experience
                </h1>
                <div class="px-5">
                    <h3 class="text-info text-capitalize">
                        Project manager
                    </h3>
                    <h4 class="text-dark text-capitalize">
                        FEU Cavite
                    </h4>

                    09/2015-08/2019

                    <span class="float-right">
                        Makati City
                    </span>
                    <div class="mt-2">
                        <span class="font-weight-bold text-info">
                            Achievements
                        </span>
                        <div class="row pl-3 mb-2">
                            <i class="fas fa-circle fa-xs align-text-bottom icon-bullet text-info"></i>
                            <div class="col pl-1 text-dark font-weight-bold">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloribus
                                illum tenetur totam? Ab aut quo rerum tempore unde vel? Eius harum id maxime
                                mollitia non possimus similique, ullam veritatis.
                            </div>
                        </div>
                        <div class="row pl-3 mb-2">
                            <i class="fas fa-circle fa-xs align-text-bottom icon-bullet text-info"></i>
                            <div class="col pl-1 text-dark font-weight-bold">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloribus
                                illum tenetur totam? Ab aut quo rerum tempore unde vel? Eius harum id maxime
                                mollitia non possimus similique, ullam veritatis.
                            </div>
                        </div>
                        <div class="row pl-3 mb-2">
                            <i class="fas fa-circle fa-xs align-text-bottom icon-bullet text-info"></i>
                            <div class="col pl-1 text-dark font-weight-bold">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloribus
                                illum tenetur totam? Ab aut quo rerum tempore unde vel? Eius harum id maxime
                                mollitia non possimus similique, ullam veritatis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h1 class="font-weight-bold px-5 border-bottom border-info">
                    Skills
                </h1>
                <p class="text-light px-5">
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                    <span class="rounded bg-info px-2 py-1 skills-height">test</span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
